<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenu sur mon site de test symfony !
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/css/axentix.min.css"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	</head>
	<body class="layout with-sidenav">
		<header>
			<nav class="navbar shadow-1 secondary">
				<a href="{{path('app_home')}}" class="navbar-brand">Blog KA Test Symfony</a>
				<div class="navbar-menu ml-auto">
					<a class="navbar-link" href="{{path('app_home')}}">Accueil</a>
					<a class="navbar-link" href="{{path('users')}}">Profil</a>
					<a class="navbar-link" href="{{ path('admin_home')}}">Admin</a>
					<a class="navbar-link" href="#">Link 4</a>
				</div>
			</nav>
		</header>
		<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
			<div class="sidenav-header">
				<button data-target="example-sidenav" class="sidenav-trigger">
					<i class="fas fa-times"></i>
				</button>
				<img class="sidenav-logo dropshadow-1" src="{{asset('/images/IMG-6502.jpg')}}" alt="Logo"/>
			</div>
			<a href="{{path('users')}}" class="sidenav-link active">Mon profil</a>
			<a href="{{path('admin_categories_home')}}" class="sidenav-link">Les catégories</a>
			<a href="{{ path('admin_annonces_home') }}" class="sidenav-link">Les annonces</a>

		</div>
	

		<main>
			<button data-target="example-sidenav" class="btn rounded-1 press amaranth dark-1 sidenav-trigger hide-md-up">
				Open sidenav
			</button>
			{% block body %}{% endblock %}
		</main>

		<footer class="footer primary center">
			Copyright © 2021 - Ka_Sr
		</footer>

	</body>
	<!-- Axentix JS minified version -->
	<script src="https://cdn.jsdelivr.net/npm/axentix@1.1.0/dist/js/axentix.min.js"></script>
	{% block javascripts %}{% endblock %}
	<script src="{{ asset('js/script.js')}}"></script>

</html>
