{% extends 'base.html.twig' %}

{% block title %}Gérer les annonces {% endblock %}

{% block body %}

<h1 class="center">Gérer les annonces ✅</h1>

<div class="responsive-table">
    <table class="table striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.createAt|date }}</td>
                <td>

                    <label class="form-switch mt-2">

                        <input type="checkbox" {{ (annonce.active) ? 'checked' : ''}} data-id="{{ annonce.id }}" />
                        <span class="slider"></span>

                    </label></td>

                <td class="center">
                    <a href="#" class="btn rounded-1 primary press modal-trigger" data-target="modal-delete"
                        data-id="{{ annonce.id }}" data-titre="{{ annonce.title }}">SUPPRIMER</a>
                </td>

            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
<div class="modal shadow-1 white rounded-3" id="modal-delete" data-ax="modal">
    <div class="modal-header">
        Supprimer une annonce
        <button data-target="modal-example" class="modal-trigger">
            <i class="fas fa-times"></i> <!-- Use font awesome -->
        </button>
    </div>
    <div class="modal-content">
        Etes-vous sûr de vouloir supprimer cette annonce ?
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a href="" class="btn red">VALIDER</a>
        <button data-target="modal-delete"
            class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
    </div>
</div>


{% endblock %}
{% block javascripts %}
<script>
    window.onload = () => {
        let activer = document.querySelectorAll("[type=checkbox]")
        for (let bouton of activer) {
            bouton.addEventListener("click", function () {
                let xmlhttp = new XMLHttpRequest;


                xmlhttp.open("get", `/admin/annonces/activer/${this.dataset.id}`)
                xmlhttp.send()
            })
        }
    }
</script>
{% endblock %}