{% extends 'users.html.twig' %}
{% block title %} Vos adresses{{ app.user.firstname }}
{% endblock %}

{% block body %}
<div class="grix xs4 container">
    <div class="col-xs4">
        <h1 class="center">Vos adresses {{ app.user.firstname }} {{ app.user.name }}</h1>
        <div class="center">
            <h2>Votre adresse personnelle</h2>
        </div>

 
        <div class="personnelle">
            <div class="center">
                {{form_start(form)}}
                {{form_row(form.type,{'value':'personnelle', 'disabled':true} )}}
                {{ form_row(form.numero) }}
                {{ form_row(form.typevoie) }}
                {{ form_row(form.libellevoie) }}
                {{ form_row(form.complementAdresse)}}               
                {{ form_row(form.postalCode)}}
                {{ form_row(form.ville)}}
                {{ form_row(form.country)}}
                {{form_end(form)}}

            </div>
            <div class="center">

                {% if app.user.userType == "Professionnel" %}
              <h2 class="center">Votre adresse professionnelle </h2>
              {{form_start(formpro)}}
              {{form_row(formpro.type,{'value':'professionnelle', 'disabled':true} )}}
              {{ form_row(formpro.numero) }}
              {{ form_row(formpro.typevoie) }}
              {{ form_row(formpro.libellevoie) }}
              {{ form_row(formpro.complementAdresse)}}               
              {{ form_row(formpro.postalCode)}}
              {{ form_row(formpro.ville)}}
              {{ form_row(formpro.country)}}
              {{form_end(formpro)}}
                {% endif %}
            </div>
        </div>

    </div>

</div>
<script src="{{asset('/js/dropdownchoise.js')}}"></script>
{% endblock %}